# docker-compose.yml 
version: '3.8'

services:
  # MongoDB
  mongodb:
    image: mongo:7-jammy
    container_name: mongodb-prod
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin        # ← AGREGAR
      - MONGO_INITDB_ROOT_PASSWORD=12345  # ← AGREGAR
      - MONGO_INITDB_DATABASE=universidad
    volumes:
      - mongodb_data:/data/db
    networks:
      - app-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/universidad --quiet
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  # Backend NestJS
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - JWT_SECRET=Grande Colo Colo campeón 1991!
      - MONGO_URI=mongodb://admin:12345@mongodb:27017/universidad?authSource=admin
    depends_on:
      mongodb:
        condition: service_healthy
    restart: always
    networks:
      - app-network

  # Frontend Next.js
  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_BASE=http://backend:3000
    container_name: frontend
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_BASE=http://backend:3000
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

volumes:
  mongodb_data:

networks:
  app-network:
    driver: bridge